@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,100);
.envoyer, a {
  transition: 500ms; }

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 100px;
  margin: 0;
  overflow-x: hidden;
  background: #333; }

.clear {
  clear: both; }

a {
  text-decoration: none; }

p {
  margin: 0 0 15px 0;
  padding: 0; }
  p a {
    color: #fff; }
    p a:hover {
      border-bottom: 1px solid #fff; }

h3 {
  font-size: 28px;
  color: #333;
  margin: 50px 0 20px 0;
  letter-spacing: 1px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal; }

.block1 .fond {
  background-color: #323232; }

.icon1 .fond {
  background-color: #323232; }

.block2 .fond {
  background-color: #e00000; }

.icon2 .fond {
  background-color: #e00000; }

.block3 .fond {
  background-color: #1a1a1a; }

.icon3 .fond {
  background-color: #1a1a1a; }

.block4 .fond {
  background-color: #005e82; }

.icon4 .fond {
  background-color: #005e82; }

.block5 .fond {
  background-color: #359600; }

.icon5 .fond {
  background-color: #359600; }

.block6 .fond {
  background-color: #343434; }

.icon6 .fond {
  background-color: #343434; }

.block7 .fond {
  background-color: #00598c; }

.icon7 .fond {
  background-color: #00598c; }

.block8 .fond {
  background-color: #db3300; }

.icon8 .fond {
  background-color: #db3300; }

.block9 .fond {
  background-color: #f3b20a; }

.icon9 .fond {
  background-color: #f3b20a; }

.block10 .fond {
  background-color: #4d5a6a; }

.icon10 .fond {
  background-color: #4d5a6a; }

.block11 .fond {
  background-color: #404040; }

.icon11 .fond {
  background-color: #404040; }

.block12 .fond {
  background-color: #2d5c80; }

.icon12 .fond {
  background-color: #2d5c80; }

.wrapper {
  width: 960px;
  margin: 0 auto; }
  @media (max-width: 1109px) {
    .wrapper {
      width: 100%; } }

#header {
  top: 0;
  display: block;
  width: 100%;
  height: 50px;
  z-index: 100;
  position: fixed;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
  transition: top .5s ease-out; }

#logo {
  float: left;
  color: #333; }
  @media (max-width: 1109px) {
    #logo {
      margin-left: 15px; } }
  @media (max-width: 520px) {
    #logo {
      display: none; } }
  #logo h1 {
    margin: 0;
    padding: 10px 0 0 0;
    margin-top: 0px;
    width: 140px;
    float: left; }
  #logo img {
    margin-top: 5px;
    float: right; }

@media (max-width: 1109px) {
  nav {
    margin-right: 10px; } }

nav ul {
  padding: 0;
  float: right; }
  nav ul li {
    display: inline; }
    nav ul li img {
      width: 12px;
      height: 12px;
      position: relative;
      top: -7px;
      left: -11px; }

nav a {
  color: #333;
  padding: 5px 15px; }
  nav a:hover {
    color: #007ac2; }

nav .current {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  color: #007ac2; }

#intro-container {
  width: 100%;
  height: 280px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  text-align: center;
  transition: top 0.3s ease-out; }

#intro {
  position: absolute;
  top: 40px;
  z-index: 2;
  margin: 80px 0 50px 0;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  width: inherit; }
  #intro span {
    color: #333;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 100;
    font-size: 46px;
    line-height: 55px;
    letter-spacing: -0.2px; }
  #intro .position-title {
    font-size: 24px;
    letter-spacing: 0; }

#blocks-container {
  width: 100%;
  background: #fff;
  margin-top: 280px;
  position: absolute;
  z-index: 11;
  margin-bottom: 93px;
  transition: all .8s ease-out; }

.block1, .icon1, .block2, .icon2, .block3, .icon3, .block4, .icon4, .block5, .icon5, .block6, .icon6, .block7, .icon7, .block8, .icon8, .block9, .icon9, .block10, .icon10, .block11, .icon11, .block12, .icon12 {
  width: 25%;
  float: left;
  z-index: 100;
  overflow: hidden;
  height: 380px;
  color: #777;
  position: relative;
  cursor: pointer; }
  .block1:nth-child(n), .icon1:nth-child(n), .block2:nth-child(n), .icon2:nth-child(n), .block3:nth-child(n), .icon3:nth-child(n), .block4:nth-child(n), .icon4:nth-child(n), .block5:nth-child(n), .icon5:nth-child(n), .block6:nth-child(n), .icon6:nth-child(n), .block7:nth-child(n), .icon7:nth-child(n), .block8:nth-child(n), .icon8:nth-child(n), .block9:nth-child(n), .icon9:nth-child(n), .block10:nth-child(n), .icon10:nth-child(n), .block11:nth-child(n), .icon11:nth-child(n), .block12:nth-child(n), .icon12:nth-child(n) {
    margin-right: 0%;
    margin-bottom: 0%; }
  .block1:nth-child(4n), .icon1:nth-child(4n), .block2:nth-child(4n), .icon2:nth-child(4n), .block3:nth-child(4n), .icon3:nth-child(4n), .block4:nth-child(4n), .icon4:nth-child(4n), .block5:nth-child(4n), .icon5:nth-child(4n), .block6:nth-child(4n), .icon6:nth-child(4n), .block7:nth-child(4n), .icon7:nth-child(4n), .block8:nth-child(4n), .icon8:nth-child(4n), .block9:nth-child(4n), .icon9:nth-child(4n), .block10:nth-child(4n), .icon10:nth-child(4n), .block11:nth-child(4n), .icon11:nth-child(4n), .block12:nth-child(4n), .icon12:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0; }
  @media (min-width: 1110px) and (max-width: 1477px) {
    .block1, .icon1, .block2, .icon2, .block3, .icon3, .block4, .icon4, .block5, .icon5, .block6, .icon6, .block7, .icon7, .block8, .icon8, .block9, .icon9, .block10, .icon10, .block11, .icon11, .block12, .icon12 {
      width: 33.33333%; }
      .block1:nth-child(n), .icon1:nth-child(n), .block2:nth-child(n), .icon2:nth-child(n), .block3:nth-child(n), .icon3:nth-child(n), .block4:nth-child(n), .icon4:nth-child(n), .block5:nth-child(n), .icon5:nth-child(n), .block6:nth-child(n), .icon6:nth-child(n), .block7:nth-child(n), .icon7:nth-child(n), .block8:nth-child(n), .icon8:nth-child(n), .block9:nth-child(n), .icon9:nth-child(n), .block10:nth-child(n), .icon10:nth-child(n), .block11:nth-child(n), .icon11:nth-child(n), .block12:nth-child(n), .icon12:nth-child(n) {
        margin-right: 0%;
        margin-bottom: 0%; }
      .block1:nth-child(3n), .icon1:nth-child(3n), .block2:nth-child(3n), .icon2:nth-child(3n), .block3:nth-child(3n), .icon3:nth-child(3n), .block4:nth-child(3n), .icon4:nth-child(3n), .block5:nth-child(3n), .icon5:nth-child(3n), .block6:nth-child(3n), .icon6:nth-child(3n), .block7:nth-child(3n), .icon7:nth-child(3n), .block8:nth-child(3n), .icon8:nth-child(3n), .block9:nth-child(3n), .icon9:nth-child(3n), .block10:nth-child(3n), .icon10:nth-child(3n), .block11:nth-child(3n), .icon11:nth-child(3n), .block12:nth-child(3n), .icon12:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 0; } }
  @media (min-width: 738px) and (max-width: 1109px) {
    .block1, .icon1, .block2, .icon2, .block3, .icon3, .block4, .icon4, .block5, .icon5, .block6, .icon6, .block7, .icon7, .block8, .icon8, .block9, .icon9, .block10, .icon10, .block11, .icon11, .block12, .icon12 {
      width: 50%; }
      .block1:nth-child(n), .icon1:nth-child(n), .block2:nth-child(n), .icon2:nth-child(n), .block3:nth-child(n), .icon3:nth-child(n), .block4:nth-child(n), .icon4:nth-child(n), .block5:nth-child(n), .icon5:nth-child(n), .block6:nth-child(n), .icon6:nth-child(n), .block7:nth-child(n), .icon7:nth-child(n), .block8:nth-child(n), .icon8:nth-child(n), .block9:nth-child(n), .icon9:nth-child(n), .block10:nth-child(n), .icon10:nth-child(n), .block11:nth-child(n), .icon11:nth-child(n), .block12:nth-child(n), .icon12:nth-child(n) {
        margin-right: 0%;
        margin-bottom: 0%; }
      .block1:nth-child(2n), .icon1:nth-child(2n), .block2:nth-child(2n), .icon2:nth-child(2n), .block3:nth-child(2n), .icon3:nth-child(2n), .block4:nth-child(2n), .icon4:nth-child(2n), .block5:nth-child(2n), .icon5:nth-child(2n), .block6:nth-child(2n), .icon6:nth-child(2n), .block7:nth-child(2n), .icon7:nth-child(2n), .block8:nth-child(2n), .icon8:nth-child(2n), .block9:nth-child(2n), .icon9:nth-child(2n), .block10:nth-child(2n), .icon10:nth-child(2n), .block11:nth-child(2n), .icon11:nth-child(2n), .block12:nth-child(2n), .icon12:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 0; } }
  @media (min-width: 0) and (max-width: 738px) {
    .block1, .icon1, .block2, .icon2, .block3, .icon3, .block4, .icon4, .block5, .icon5, .block6, .icon6, .block7, .icon7, .block8, .icon8, .block9, .icon9, .block10, .icon10, .block11, .icon11, .block12, .icon12 {
      width: 100%; }
      .block1:nth-child(n), .icon1:nth-child(n), .block2:nth-child(n), .icon2:nth-child(n), .block3:nth-child(n), .icon3:nth-child(n), .block4:nth-child(n), .icon4:nth-child(n), .block5:nth-child(n), .icon5:nth-child(n), .block6:nth-child(n), .icon6:nth-child(n), .block7:nth-child(n), .icon7:nth-child(n), .block8:nth-child(n), .icon8:nth-child(n), .block9:nth-child(n), .icon9:nth-child(n), .block10:nth-child(n), .icon10:nth-child(n), .block11:nth-child(n), .icon11:nth-child(n), .block12:nth-child(n), .icon12:nth-child(n) {
        margin-right: 0%;
        margin-bottom: 0%; }
      .block1:nth-child(1n), .icon1:nth-child(1n), .block2:nth-child(1n), .icon2:nth-child(1n), .block3:nth-child(1n), .icon3:nth-child(1n), .block4:nth-child(1n), .icon4:nth-child(1n), .block5:nth-child(1n), .icon5:nth-child(1n), .block6:nth-child(1n), .icon6:nth-child(1n), .block7:nth-child(1n), .icon7:nth-child(1n), .block8:nth-child(1n), .icon8:nth-child(1n), .block9:nth-child(1n), .icon9:nth-child(1n), .block10:nth-child(1n), .icon10:nth-child(1n), .block11:nth-child(1n), .icon11:nth-child(1n), .block12:nth-child(1n), .icon12:nth-child(1n) {
        margin-right: 0;
        margin-bottom: 0; } }
  .block1 .content, .icon1 .content, .block2 .content, .icon2 .content, .block3 .content, .icon3 .content, .block4 .content, .icon4 .content, .block5 .content, .icon5 .content, .block6 .content, .icon6 .content, .block7 .content, .icon7 .content, .block8 .content, .icon8 .content, .block9 .content, .icon9 .content, .block10 .content, .icon10 .content, .block11 .content, .icon11 .content, .block12 .content, .icon12 .content {
    display: block;
    width: 100%;
    top: 0;
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    .block1 .content .img-container, .icon1 .content .img-container, .block2 .content .img-container, .icon2 .content .img-container, .block3 .content .img-container, .icon3 .content .img-container, .block4 .content .img-container, .icon4 .content .img-container, .block5 .content .img-container, .icon5 .content .img-container, .block6 .content .img-container, .icon6 .content .img-container, .block7 .content .img-container, .icon7 .content .img-container, .block8 .content .img-container, .icon8 .content .img-container, .block9 .content .img-container, .icon9 .content .img-container, .block10 .content .img-container, .icon10 .content .img-container, .block11 .content .img-container, .icon11 .content .img-container, .block12 .content .img-container, .icon12 .content .img-container {
      top: 0;
      left: 0;
      position: absolute; }
      .block1 .content .img-container img, .icon1 .content .img-container img, .block2 .content .img-container img, .icon2 .content .img-container img, .block3 .content .img-container img, .icon3 .content .img-container img, .block4 .content .img-container img, .icon4 .content .img-container img, .block5 .content .img-container img, .icon5 .content .img-container img, .block6 .content .img-container img, .icon6 .content .img-container img, .block7 .content .img-container img, .icon7 .content .img-container img, .block8 .content .img-container img, .icon8 .content .img-container img, .block9 .content .img-container img, .icon9 .content .img-container img, .block10 .content .img-container img, .icon10 .content .img-container img, .block11 .content .img-container img, .icon11 .content .img-container img, .block12 .content .img-container img, .icon12 .content .img-container img {
        width: 100%; }
  .block1 .circle, .icon1 .circle, .block2 .circle, .icon2 .circle, .block3 .circle, .icon3 .circle, .block4 .circle, .icon4 .circle, .block5 .circle, .icon5 .circle, .block6 .circle, .icon6 .circle, .block7 .circle, .icon7 .circle, .block8 .circle, .icon8 .circle, .block9 .circle, .icon9 .circle, .block10 .circle, .icon10 .circle, .block11 .circle, .icon11 .circle, .block12 .circle, .icon12 .circle {
    display: block;
    position: absolute;
    z-index: 4;
    width: 74px;
    height: 74px;
    top: -24px;
    left: 50%;
    margin-left: -37px;
    border-radius: 50%;
    background: url(../images/arrow.png) no-repeat 34px center;
    border: 3px solid #fff;
    opacity: 0;
    transition: all 0.3s ease-out; }
  .block1 h2, .icon1 h2, .block2 h2, .icon2 h2, .block3 h2, .icon3 h2, .block4 h2, .icon4 h2, .block5 h2, .icon5 h2, .block6 h2, .icon6 h2, .block7 h2, .icon7 h2, .block8 h2, .icon8 h2, .block9 h2, .icon9 h2, .block10 h2, .icon10 h2, .block11 h2, .icon11 h2, .block12 h2, .icon12 h2 {
    display: block;
    margin: 320px auto 5px auto;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 4;
    opacity: 0;
    transition: all 0.3s ease-out; }
  .block1 .role, .icon1 .role, .block2 .role, .icon2 .role, .block3 .role, .icon3 .role, .block4 .role, .icon4 .role, .block5 .role, .icon5 .role, .block6 .role, .icon6 .role, .block7 .role, .icon7 .role, .block8 .role, .icon8 .role, .block9 .role, .icon9 .role, .block10 .role, .icon10 .role, .block11 .role, .icon11 .role, .block12 .role, .icon12 .role {
    display: block;
    position: relative;
    z-index: 4;
    font-family: 'Roboto', Arial, sans-serif;
    color: #eee;
    opacity: 0; }
  .block1 .fond, .icon1 .fond, .block2 .fond, .icon2 .fond, .block3 .fond, .icon3 .fond, .block4 .fond, .icon4 .fond, .block5 .fond, .icon5 .fond, .block6 .fond, .icon6 .fond, .block7 .fond, .icon7 .fond, .block8 .fond, .icon8 .fond, .block9 .fond, .icon9 .fond, .block10 .fond, .icon10 .fond, .block11 .fond, .icon11 .fond, .block12 .fond, .icon12 .fond {
    width: 100%;
    height: 380px;
    top: 370px;
    position: absolute;
    transition: all 0.3s ease-out; }
  .block1:hover .circle, .icon1:hover .circle, .block2:hover .circle, .icon2:hover .circle, .block3:hover .circle, .icon3:hover .circle, .block4:hover .circle, .icon4:hover .circle, .block5:hover .circle, .icon5:hover .circle, .block6:hover .circle, .icon6:hover .circle, .block7:hover .circle, .icon7:hover .circle, .block8:hover .circle, .icon8:hover .circle, .block9:hover .circle, .icon9:hover .circle, .block10:hover .circle, .icon10:hover .circle, .block11:hover .circle, .icon11:hover .circle, .block12:hover .circle, .icon12:hover .circle {
    top: 90px;
    opacity: 1; }
  .block1:hover h2, .icon1:hover h2, .block2:hover h2, .icon2:hover h2, .block3:hover h2, .icon3:hover h2, .block4:hover h2, .icon4:hover h2, .block5:hover h2, .icon5:hover h2, .block6:hover h2, .icon6:hover h2, .block7:hover h2, .icon7:hover h2, .block8:hover h2, .icon8:hover h2, .block9:hover h2, .icon9:hover h2, .block10:hover h2, .icon10:hover h2, .block11:hover h2, .icon11:hover h2, .block12:hover h2, .icon12:hover h2 {
    margin-top: 200px;
    opacity: 1; }
  .block1:hover .role, .icon1:hover .role, .block2:hover .role, .icon2:hover .role, .block3:hover .role, .icon3:hover .role, .block4:hover .role, .icon4:hover .role, .block5:hover .role, .icon5:hover .role, .block6:hover .role, .icon6:hover .role, .block7:hover .role, .icon7:hover .role, .block8:hover .role, .icon8:hover .role, .block9:hover .role, .icon9:hover .role, .block10:hover .role, .icon10:hover .role, .block11:hover .role, .icon11:hover .role, .block12:hover .role, .icon12:hover .role {
    opacity: 1; }
  .block1:hover .fond, .icon1:hover .fond, .block2:hover .fond, .icon2:hover .fond, .block3:hover .fond, .icon3:hover .fond, .block4:hover .fond, .icon4:hover .fond, .block5:hover .fond, .icon5:hover .fond, .block6:hover .fond, .icon6:hover .fond, .block7:hover .fond, .icon7:hover .fond, .block8:hover .fond, .icon8:hover .fond, .block9:hover .fond, .icon9:hover .fond, .block10:hover .fond, .icon10:hover .fond, .block11:hover .fond, .icon11:hover .fond, .block12:hover .fond, .icon12:hover .fond {
    top: 0px; }

.project-title {
  height: 95px;
  position: relative;
  z-index: 1; }

.block.actif .role, .block.actif h2, .block.actif .circle {
  display: none; }

#fond_projet {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  z-index: 0;
  transition: all 0.2s ease-out;
  border-radius: 100%; }
  #fond_projet.actif {
    border-radius: 0px;
    position: fixed;
    z-index: 500;
    overflow: inherit;
    opacity: 1;
    transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, margin-left 0.3s ease-out, opacity 0s ease-out, border-radius 0.3s linear; }

#projet {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-out;
  height: 0;
  overflow: hidden; }
  #projet h1 {
    opacity: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 0 auto 50px auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
  #projet p {
    opacity: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #fff;
    width: 600px;
    margin: 0 auto 40px auto;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
    @media (max-width: 738px) {
      #projet p {
        width: 90%; } }
    #projet p.lien {
      opacity: 0;
      font-family: 'Roboto', Arial, sans-serif;
      margin: -20px auto 40px auto; }
      #projet p.lien a {
        opacity: 0.8;
        border-bottom: 1px solid #000;
        transition: all 0.3s ease-out; }
        #projet p.lien a:hover {
          opacity: 1;
          border-bottom: 1px solid #fff; }
    #projet p.lienbis {
      margin: 0px auto 0px auto; }
  #projet.banner {
    position: absolute;
    opacity: 0;
    left: 0;
    top: -320px;
    width: 100%;
    height: 320px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
  #projet .affiche {
    width: 618px;
    opacity: 0;
    margin: -500px auto 0 auto;
    z-index: 3;
    position: relative;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
    @media (max-width: 738px) {
      #projet .affiche img {
        width: 100%; } }
    #projet .affiche.affichelouvre {
      width: 863px;
      opacity: 0;
      margin: -500px auto 0 auto; }
  #projet .affiche2 {
    width: 231px;
    opacity: 0;
    margin: -986px auto 0 640px;
    z-index: 3;
    position: relative;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
  #projet .affiche3 {
    width: 231px;
    opacity: 0;
    margin: -986px auto 0 640px;
    z-index: 3;
    position: relative;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
  #projet .infos {
    display: table;
    margin: 0 auto;
    opacity: 0;
    margin-bottom: 30px;
    transition: all 0.3s ease-out;
    transition-delay: 0s; }
    #projet .infos p {
      font-family: 'Roboto', Arial, sans-serif;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      float: left;
      padding: 0 35px;
      width: auto;
      display: block;
      position: relative; }
  #projet .capture {
    padding-top: 24px;
    padding-bottom: 50px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: block; }
    @media (max-width: 1109px) {
      #projet .capture {
        width: 100%; } }
    #projet .capture img {
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
      position: relative;
      opacity: 1; }
      @media (max-width: 1109px) {
        #projet .capture img {
          width: 98%; } }
    #projet .capture.mobile img {
      -webkit-box-shadow: none;
      box-shadow: none; }
  #projet .capturelouvre .capture {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
    opacity: 1;
    padding: 40px;
    width: 720px;
    height: 405px;
    margin: 0 auto 50px auto;
    text-align: center;
    position: relative;
    display: block;
    background: #323232; }
    #projet .capturelouvre .capture img {
      box-shadow: none;
      position: relative;
      opacity: 1; }
    #projet .capturelouvre .capture.photolouvre {
      padding: 0px;
      width: 800px;
      height: 482px;
      margin: 0 auto 50px auto;
      padding-bottom: 50px; }
  #projet #captures {
    opacity: 0;
    transition: all 0.6s ease-out;
    transition-delay: 0s; }
    #projet #captures h2 {
      font-family: 'Roboto', Arial, sans-serif;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      font-size: 30px;
      color: #fff;
      margin: 0px auto 0px auto;
      text-transform: uppercase;
      letter-spacing: 3px; }
  #projet.visible {
    height: auto;
    opacity: 1;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    padding-bottom: 100px; }
    #projet.visible .banner {
      opacity: 1;
      top: 0;
      transition: all 0.8s ease-out;
      transition-delay: 0.5s; }
      #projet.visible .banner img {
        position: absolute;
        left: 50%;
        margin-left: -960px; }
    #projet.visible .affiche, #projet.visible .affiche2, #projet.visible .affiche3 {
      opacity: 1;
      transition: all 0.6s ease-out;
      transition-delay: 0.82s; }
    #projet.visible .affiche {
      margin: 50px auto 0 auto; }
    #projet.visible .affiche2 {
      margin: -500px auto 0 600px; }
    #projet.visible .affiche3 {
      margin: -400px auto 0 400px; }
    #projet.visible h1 {
      opacity: 1;
      transition: all 0.3s ease-out;
      transition-delay: 1.2s; }
    #projet.visible p {
      opacity: 1;
      transition: all 0.3s ease-out;
      transition-delay: 1.2s; }
    #projet.visible .infos {
      opacity: 1;
      transition: all 0.3s ease-out;
      transition-delay: 1.5s; }
    #projet.visible #captures {
      opacity: 1;
      transition: all 0.3s ease-out;
      transition-delay: 2s; }

.center {
  width: 980px;
  margin: 0 auto; }
  @media (max-width: 1109px) {
    .center {
      width: 100%; } }

.op50 {
  opacity: 0.7; }

#project-menu {
  width: 100%;
  height: 70px;
  background: #111;
  position: fixed;
  bottom: -70px;
  z-index: 10000000;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #project-menu .center {
    border-right: 1px solid #222;
    width: 973px; }
    @media (max-width: 1109px) {
      #project-menu .center {
        width: 100%; } }
  #project-menu.visible {
    bottom: 0px;
    transition: all 0.3s ease-out;
    transition-delay: 1.5s; }

.back {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 14px;
  margin-right: 20px;
  padding-left: 20px;
  float: left;
  cursor: pointer;
  transition: all 0.4s ease-out; }
  @media (max-width: 1109px) {
    .back {
      width: 100%;
      margin: 0 auto;
      height: 70px;
      padding: 0; }
      .back img {
        display: none; } }
  .back img {
    margin-top: 2px;
    float: left;
    position: relative;
    z-index: 10000001;
    transition: all 0.4s ease-out; }
  .back div {
    margin-top: 32px;
    float: left;
    margin-left: 15px; }
    @media (max-width: 1109px) {
      .back div {
        margin: 30px auto 0 auto;
        width: 50px;
        float: none;
        font-weight: 800;
        font-size: 16px; } }
  .back:hover {
    opacity: 1; }

.icon {
  display: block;
  float: left;
  width: 70px;
  height: 48px;
  border-left: 1px solid #222;
  text-align: center;
  padding-top: 22px;
  cursor: pointer; }
  @media (max-width: 1109px) {
    .icon {
      display: none; } }
  .icon .shape {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    opacity: 0.3;
    position: relative;
    z-index: 10000001;
    transition: all 0.4s ease-out;
    margin-left: 20px; }
  .icon .fond {
    width: 72px;
    height: 70px;
    top: 70px;
    position: absolute;
    transition: all 0.2s ease-out; }
  .icon.current {
    width: 72px;
    border-left: 0; }
    .icon.current .shape {
      opacity: 1; }

.icon:hover .fond, .icon.current .fond {
  top: 0px;
  z-index: 10000000; }

#about, #contact {
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 550px;
  margin-top: -550px;
  background: #fff;
  z-index: 15;
  transition: left 0s ease-out, margin-top .5s ease-out; }
  #about.debut, #contact.debut {
    margin-top: -470px;
    transition: left 0s ease-out, margin-top 0s ease-out; }
  #about.visible, #contact.visible {
    transition: left 0.3s ease-out, margin-top 0.3s ease-out; }

.shadow3 {
  box-shadow: 0 160px 210px 0 rgba(0, 0, 0, 0.5); }

#about {
  left: 0; }

#contact {
  left: 100%; }

#presentation {
  float: left;
  width: 425px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px; }
  @media (max-width: 1109px) {
    #presentation {
      margin-left: 50px; } }
  @media (max-width: 738px) {
    #presentation {
      width: 85%; } }
  #presentation a {
    color: #007ac2;
    text-decoration: underline; }

#services {
  float: left;
  width: 215px;
  margin-left: 80px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px; }
  @media (max-width: 991px) {
    #services {
      display: none; } }
  #services ul {
    padding: 0; }
    #services ul li {
      margin: 5px; }

#awards {
  float: left;
  width: 180px;
  margin-left: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px; }
  @media (max-width: 991px) {
    #awards {
      margin-left: 50px; } }
  @media (max-width: 738px) {
    #awards {
      display: none; } }
  #awards small {
    top: -15px;
    position: relative; }

span.awardname {
  font-size: 12px;
  color: #444;
  letter-spacing: 0; }

#contactleft, #contactright {
  float: left;
  width: 315px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #777;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px; }

@media (max-width: 1109px) {
  #contactleft {
    width: 280px;
    margin-left: 50px; } }

@media (max-width: 738px) {
  #contactleft {
    width: 80%;
    margin-left: 20px; } }

#contactleft input {
  width: 273px; }
  @media (max-width: 1109px) {
    #contactleft input {
      width: 80%; } }
  @media (max-width: 738px) {
    #contactleft input {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px; } }

@media (max-width: 738px) {
  #contactleft h3 {
    margin-top: 20px; } }

#contactright {
  margin-left: 50px;
  width: 615px; }
  @media (max-width: 1109px) {
    #contactright {
      margin-left: 20px;
      width: 50%; } }
  @media (max-width: 738px) {
    #contactright {
      width: 90%; } }
  #contactright textarea {
    width: 573px;
    height: 214px; }
    @media (max-width: 1109px) {
      #contactright textarea {
        width: 90%; } }
    @media (max-width: 738px) {
      #contactright textarea {
        height: 50px; } }
  #contactright legend {
    margin-top: 89px; }
    @media (max-width: 738px) {
      #contactright legend {
        margin-top: 0; } }

input, textarea {
  border: 1px solid #aaa;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  background: #fff;
  color: #666; }

textarea {
  resize: none; }

input.envoyer {
  background: #fff;
  border: 1px solid #aaa;
  font-family: 'Roboto', Arial, sans-serif;
  color: #444;
  text-transform: uppercase;
  width: 180px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  margin: -10px 0 0 0;
  float: right; }
  @media (max-width: 738px) {
    input.envoyer {
      float: left;
      margin-top: -10px; } }
  input.envoyer:hover {
    border: 1px solid #007ac2;
    color: #007ac2; }

.envoimess {
  position: absolute;
  top: 54px;
  width: 400px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align: right;
  color: #aaa;
  font-size: 12px;
  line-height: 20px; }

footer {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #333;
  border-top: #222;
  z-index: 12;
  bottom: 0; }
  @media (max-width: 738px) {
    footer {
      display: none; } }
  footer .center {
    height: 90px;
    width: 1000px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase; }

.ligne {
  width: 100%;
  height: 1px;
  background: #242424; }

.caseB {
  display: block;
  width: 115px;
  height: 90px;
  float: left;
  border-left: #222;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 90px;
  cursor: pointer; }
  .caseB span {
    position: relative;
    z-index: 3;
    color: #aaa; }
  .caseB:hover span {
    color: #fff; }

#contactCanada .texte {
  position: absolute;
  z-index: 3;
  color: #fff;
  margin-left: 80px;
  margin-top: 25px; }

#contactCanada .fond, .caseB .fond {
  height: 90px;
  position: absolute;
  z-index: 1;
  top: 90px;
  background: #093;
  transition: all 0.1s ease-out; }

#contactCanada:hover .fond, .caseB:hover .fond {
  top: 0; }

#contactCanada .fond {
  width: 652px; }

.caseB .fond {
  width: 115px; }

#contactCanada img {
  position: absolute;
  z-index: 3;
  left: 30px; }

.fond.twitter {
  background: #00aced; }

.fond .behance {
  background: #0364fa; }

.fond.linkedin {
  background: #3893c4; }

.fond.cv {
  background: #444; }

.fond.blog {
  background: #000; }

.copyright {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 35px; }

.resume {
  display: inline;
  float: right;
  color: #007ac2;
  margin: -40px 30px 0 0; }

.popup-text {
  padding: 10px 20px;
  position: absolute;
  top: -42px;
  background: #323232;
  color: #fff; }

.MsgSent {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%; }
  @media (max-width: 1109px) {
    .MsgSent {
      width: 100%;
      text-align: left; } }
