// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);
$robo: 'Roboto', Arial, sans-serif;

// Colors
$color-main: #007ac2;
$black: #000;
$darkest-gray: #222;
$dark-gray: #333;
$gray: #aaa;
$light-gray: #eee;
$white: #fff;

// Project Colors
$tapestry: $dark-gray;
$urbOb1: #e00000;
$urbOb2: #1a1a1a;
$publicHealth: $color-main;
$inca: #359600;
$industries: #00598c;
$workforce: #db3300;
$dashboard: #f3b20a;
$myEsri: #404040;
$calciteUiIcons: $white;
$calciteComponents: $white;
$esriProductLogos: $darkest-gray;

// Social Colors
$twitter: #00aced;
$facebook: #3b5998;
$dribble: #ea4c89;
$linkedin: #3893c4;
$cv: #444;
$blog: #000;


// Borders
$border-white: 1px solid $white;
$border-light: 1px solid $light-gray;
$border-medium: 1px solid $gray;
$border-heavy: 1px solid $darkest-gray;
$border-black: 1px solid $black;
$border-blue: 1px solid $color-main;

$project-themes: (
    16: $calciteComponents,
    14: $esriProductLogos,
    13: $calciteUiIcons,
    9: $dashboard,
    3: $urbOb2,
    5: $inca,
    1: $tapestry,
    2: $urbOb1,
    4: $publicHealth,
    7: $industries,
    8: $workforce,
    11: $myEsri,
);

$social-colors: (
    twitter: $twitter,
    facebook: $facebook,
    dribble: $dribble,
    linkedin: $linkedin,
    cv: $cv,
    blog: $blog
)