@import 'variables';
@import 'base';
@import 'mixins';
@import 'modules/navigation';
@import 'modules/imageGrid';
@import 'modules/projects';
@import 'modules/about';
@import 'modules/footer';



/////////// Media Queries
@media (min-width: 1110px) and (max-width: 1477px) {
	.block {
		width: 33.3%;
	}
  }

@media (min-width: 738px) and (max-width: 1109px) {
	.block {
		width: 50%;
	}
  }

@media (min-width: 0px) and (max-width: 738px) {
	.block {
		width: 100%;
	}
  }

  ////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////

@media (max-width: 1109px) {
	nav .wrapper {
		width: 100%;
		#logo {
			margin-left: 15px;
		}
		ul {
			margin-right: 10px;
		}
	}
	#presentation {
		margin-left: 50px;
	}
	#project-menu .center, #projet .capture, .center {
		width: 100%;
	}
	.capture img {
		width: 98%;
	}
	.icon {
		display:none;
	}
	.back {
		width: 100%;
		margin: 0 auto;
		height: 70px;
		padding: 0;
		img {
			display: none;
		}
	}
	.back div {
		margin: 30px auto 0 auto;
		width: 50px;
		float: none;
		font-weight: 800;
		font-size: 16px;
	}
	#contactleft { 
		width: 280px;
		margin-left: 50px;
		input {
			width: 80%;
		}
	}
	#contactright  {
		margin-left: 20px;
		width: 50%;
		textarea {
			width: 90%;
		}
	}
	.MsgSent {
		width: 100%;
		text-align: left;
	}
  }

@media (max-width: 991px) {
	#services {
		display: none;
	}
	#awards {
		margin-left: 50px;
	}
}

@media (max-width: 738px) {
	 #awards {
		display: none;
	}
	#presentation {
		width: 85%;
	}

	#contactleft {
		width: 80%;
		margin-left: 20px;
		input {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h3 {
			margin-top: 20px;
		}
	}

	#contactright {
		width: 90%;
		legend {
			margin-top: 0;
		}
		textarea {
			height: 50px;
		}
	}

	input.envoyer {
		float: left;
		margin-top: -10px;
	}
	.affiche img {
		width: 100%;
	}
	#projet p {
		width: 90%;
	}
	footer {
		display: none;
	}
}

@media (max-width: 520px) {
	#logo {
		display: none;
	}
}