@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,100);

.envoyer, a, {
	transition: 500ms;
}

body {
	font-family:'Roboto', Arial, sans-serif;
	font-weight: 400;
	padding-bottom:100px;
	margin:0;
	overflow-x:hidden;
	background: #333;
}

.clear {
	clear:both;
}

a {
	text-decoration:none;
}

p {
	margin:0 0 15px 0;
	padding:0;
	a {
		color:#fff;
		&:hover {
			border-bottom:1px solid #FFF;
		}
	}
}



h3 {
	font-size:28px;
	color:#333;
	margin:50px 0 20px 0;
	letter-spacing:1px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
}
/************************************************** HEADER *********************************************/

.wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
	top:0;
	display:block;
	width: 100%;
	height:50px;
	z-index:100;
	position:fixed;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
  background: #fff;
  //box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
  transition: top .5s ease-out;
}


#logo {
	float: left;
	color: #333;
	h1 {
		margin: 0;
		padding: 10px 0 0 0;
		margin-top: 0px;
		width:140px;
		float:left;
	}
	img {
		margin-top: 5px;
		float:right;
	}
}

nav {
	ul {
		padding: 0;
		float: right;
		li {
			display: inline;
			img {
				width: 12px;
				height: 12px;
				position: relative;
				top: -7px;
				left: -11px;
			}
		}
	}
	a {
		color: #333;
		padding: 5px 15px;
		&:hover {
			color: #007ac2;
		}
	}
	.current {
		background: rgba(0, 0, 0, .05);
		border-radius: 15px;
		color: #007ac2;
	}
}

#intro-container {
	width: 100%;
	height: 280px;
	background: #fff;
	position:fixed;
	top:0;
	z-index:10;
	text-align: center;
  transition: top 0.3s ease-out;
}

#intro {
	position:absolute;
	top:40px;
	z-index:2;
	margin:80px 0 50px 0;
	font-size:30px;
	line-height:40px;
	letter-spacing:1px;
	width: inherit;
	span {
		color: #4c4c4c;
		font-family:'Roboto', Arial, sans-serif;
		font-weight: 100;
		font-size: 46px;
		line-height: 55px;
		letter-spacing: -0.2px;
	}
	.position-title {
		font-size: 24px;
		letter-spacing: 0;
	}
}




/************************************************** GRID ********************************************/

#blocks-container {
	width: 100%;
	background: #fff;
	margin-top: 280px;
	position: absolute;
	z-index: 11;
	margin-bottom: 93px;
	transition: all .8s ease-out;
}

.block {
	float: left;
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 25%;
	margin: 0px;
	height: 380px;
	cursor: pointer;
	color: #777;
	position: relative;
	.content {
		display:block;
		width:100%;
		top:0;
		font-size:14px;
		font-family:'Roboto', Arial, sans-serif;
		-webkit-font-smoothing:antialiased;
		color:#999;
		text-align:center;
		.img-container{
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: auto;
			overflow: hidden;
			img {
				width: 100%;
				top: 0;
				left: 0;
			}
		}
	}
	.circle {
		display:block;
		position:absolute;
		z-index:4;
		width:74px;
		height:74px;
		top:-24px;
		left:50%;
		margin-left:-37px;
		border-radius: 50%;
		background:url(../images/arrow.png) no-repeat 34px center;
		border:3px solid #FFF;
		opacity:0;
    transition: all 0.3s ease-out;
	}
	h2 {
		display:block;
		margin:320px auto 5px auto;
		letter-spacing:1px;
		font-size:24px;
		color:#fff;
		font-weight:normal;
		text-transform:uppercase;
		position:relative;
		z-index:4;
		opacity: 0;
	  transition: all 0.3s ease-out;
	}
	.role {
		display:block;
		position:relative;
		z-index:4;
		font-family:'Roboto', Arial, sans-serif;
		color:#eee;
		opacity: 0;
	}
	.fond {
		width:100%;
		height:380px;
		top:370px;
		position:absolute;
		transition: all 0.3s ease-out;
	}
	&:hover {
		.circle {
			top:90px;
			opacity:1;
		}
		h2 {
			margin-top:200px;
			opacity: 1;
		}
		.role {
			opacity: 1;
		}
		.fond {
			top: 0px;
		}
	}
}

.project-title {
	height: 95px;
	position: relative;
	z-index: 1;
}

.block.actif .role, .block.actif h2, .block.actif .circle {
	display:none;
}

.block1 .fond, .icon1 .fond { background:#323232; }
.block2 .fond, .icon2 .fond { background:#e00000; }
.block3 .fond, .icon3 .fond { background:#1a1a1a; }
.block4 .fond, .icon4 .fond { background:#005e82; }
.block5 .fond, .icon5 .fond { background:#359600; }
.block6 .fond, .icon6 .fond { background:#343434; }
.block7 .fond, .icon7 .fond { background:#00598c; }
.block8 .fond, .icon8 .fond { background:#db3300; }
.block9 .fond, .icon9 .fond { background:#f3b20a; }
.block10 .fond, .icon10 .fond { background:#4d5a6a; }
.block11 .fond, .icon11 .fond { background:#404040; }
.block12 .fond, .icon12 .fond { background:#2d5c80; }



/***************************** PROJET ***************************/

#fond_projet {
	width:0px;
	height:0px;
	position:absolute;
	top:0;
	left:50%;
	opacity:0;
	z-index:0;
	transition: all 0.2s ease-out;
	border-radius: 100%;
	&.actif {
		border-radius: 0px;
		position:fixed;
		z-index:500;
		overflow:inherit;
		opacity:1;
		transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, margin-left 0.3s ease-out, opacity 0s ease-out, border-radius 0.3s linear;
	}
}


#projet {
	position:absolute;
	z-index:0;
	opacity:0;
	width:100%;
	left:0;
	top:0;
  transition: all 0.3s ease-out;
	height:0;
	overflow:hidden;
	h1 {
		opacity:0;
		font-family:'Roboto', Arial, sans-serif;
		font-weight:normal;
		-webkit-font-smoothing:antialiased;
		text-align:center;
		font-size:60px;
		color:#FFF;
		margin:0 auto 50px auto;
		text-transform:uppercase;
		letter-spacing:3px;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
	}
	p {
		opacity:0;
		font-family:'Roboto', Arial, sans-serif;
		font-weight:normal;
		-webkit-font-smoothing:antialiased;
		text-align:center;
		font-size:14px;
		line-height:20px;
		letter-spacing:1px;
		color:#FFF;
		width:600px;
		margin:0 auto 40px auto;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
		&.lien {
			opacity:0;
			font-family:'Roboto', Arial, sans-serif;
			margin:-20px auto 40px auto;
			a {
				opacity:0.8;
				border-bottom:1px solid rgba(255, 255, 255, 0);
			  transition: all 0.3s ease-out;
				&:hover {
					opacity:1;
					border-bottom:1px solid rgba(255, 255, 255, 1);
				}
			}
		}
		&.lienbis {
			margin:0px auto 0px auto;
		}
	}
	&.banner {
		position:absolute;
		opacity:0;
		left:0;
		top:-320px;
		width:100%;
		height:320px;
		overflow:hidden;
		z-index:1;
    transition: all 0.3s ease-out;
		transition-delay: 0s;
	}
	.affiche {
		width:618px;
		opacity:0;
		margin:-500px auto 0 auto;
		z-index:3;
		position:relative;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
		&.affichelouvre {
			width:863px;
			opacity:0;
			margin:-500px auto 0 auto;
		}
	}
	.affiche2 {
		width:231px;
		opacity:0;
		margin:-986px auto 0 640px;
		z-index:3;
		position:relative;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
	}
	.affiche3 {
		width:231px;
		opacity:0;
		margin:-986px auto 0 640px;
		z-index:3;
		position:relative;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
	}
	.infos {
		display:table;
		margin:0 auto;
		opacity:0;
		margin-bottom:30px;
	  transition: all 0.3s ease-out;
		transition-delay: 0s;
		p {
			font-family:'Roboto', Arial, sans-serif;
			font-weight:normal;
			-webkit-font-smoothing:antialiased;
			text-transform:uppercase;
			text-align:center;
			font-size:12px;
			line-height:20px;
			color:#FFF;
			float:left;
			padding:0 35px;
			width:auto;
			display:block;
			position:relative;
		}
	}
	.capture {
			padding-top:24px;
			padding-bottom:50px;
			width:960px;
			margin:0 auto;
			text-align:center;
			position:relative;
			display:block;
			img {
			  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.18);
				position:relative;
				opacity:1;
			}
			&.mobile img {
				-webkit-box-shadow: none;
			    box-shadow: none;
			}
		}
	.capturelouvre .capture {
	  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.18);
		opacity:1;
		padding:40px;
		width:720px;
		height:405px;
		margin:0 auto 50px auto;
		text-align:center;
		position:relative;
		display:block;
		background:#323232;
		img {
		  box-shadow: none;
			position:relative;
			opacity:1;
		}
		&.photolouvre {
			padding:0px;
			width:800px;
			height:482px;
			margin:0 auto 50px auto;
			padding-bottom:50px;
		}
	}
	#captures {
		opacity:0;
	  transition: all 0.6s ease-out;
		transition-delay: 0s;
		h2 {
			font-family:'Roboto', Arial, sans-serif;
			font-weight:normal;
			-webkit-font-smoothing:antialiased;
			text-align:center;
			font-size:30px;
			color:#FFF;
			margin:0px auto 0px auto;
			text-transform:uppercase;
			letter-spacing:3px;
		}
	}
	&.visible {
		height:auto;
		opacity:1;
		top:0;
		z-index:1000;
    transition: all 0.3s ease-out;
		padding-bottom:100px;
		.banner {
			opacity:1;
			top:0;
	    transition: all 0.8s ease-out;
			transition-delay: 0.5s;
			img {
				position:absolute;
				left:50%;
				margin-left:-960px;
			}
		}
		.affiche, .affiche2, .affiche3 {
			opacity:1;
		  transition: all 0.6s ease-out;
			transition-delay: 0.82s;
		}
		.affiche {
			margin:50px auto 0 auto;
		}
		.affiche2 {
			margin:-500px auto 0 600px;
		}
		.affiche3 {
			margin:-400px auto 0 400px;
		}
		h1 {
			opacity:1;
		  transition: all 0.3s ease-out;
			transition-delay: 1.2s;
		}
		p {
			opacity:1;
		  transition: all 0.3s ease-out;
			transition-delay: 1.2s;
		}
		.infos {
			opacity:1;
		  transition: all 0.3s ease-out;
			transition-delay: 1.5s;
		}
		#captures {
			opacity:1;
		  transition: all 0.3s ease-out;
			transition-delay: 2s;
		}
	}
}

.center {
	width:980px;
	margin:0 auto;
}

.op50 {
	opacity:0.7;
}

#project-menu {
	width:100%;
	height:70px;
	background:#111;
	position:fixed;
	bottom:-70px;
	z-index:10000000;
  transition: all 0.3s ease-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	.center {
		border-right:1px solid #222;
		width:973px;
	}
	&.visible {
		bottom:0px;
	  transition: all 0.3s ease-out;
		transition-delay: 1.5s;
	}
}

.back {
	opacity:0.5;
	color:#FFF;
	font-size:14px;
	text-transform:uppercase;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	line-height:14px;
	margin-right:20px;
	padding-left:20px;
	float:left;
	cursor:pointer;
  transition: all 0.4s ease-out;
	img {
		margin-top:2px;
		float:left;
		position:relative;
		z-index:10000001;
	  transition: all 0.4s ease-out;
	}
	div {
		margin-top:32px;
		float:left;
		margin-left:15px;
	}
	&:hover {
		opacity: 1;
	}
}

.icon {
	display:block;
	float:left;
	width:70px;
	height:48px;
	border-left:1px solid #222;
	text-align:center;
	padding-top:22px;
	cursor:pointer;
	.shape {
		width: 30px;
		height: 30px;
		border-radius: 50px;
		background: #fff;
		opacity:0.3;
		position:relative;
		z-index:10000001;
	  transition: all 0.4s ease-out;
		margin-left: 20px;
	}
	.fond {
		width:72px;
		height:70px;
		top:70px;
		position:absolute;
	  transition: all 0.2s ease-out;
	}
	&.current {
		width:72px;
		border-left:0;
		.shape {
			opacity:1;
		}
	}
}

.icon:hover .fond, .icon.current .fond  {
	top:0px;
	z-index:10000000;
}


/************************************** ABOUT ************************************/

#about, #contact {
	overflow: scroll;
	position:fixed;
	width:100%;
	height:550px;
	margin-top:-550px;
	background: rgba(255, 255, 255, 1);
	z-index:15;
  transition: left 0s ease-out, margin-top .5s ease-out;
	&.debut {
		margin-top:-470px;
	  transition: left 0s ease-out, margin-top 0s ease-out;
	}
	&.visible {
	  transition: left 0.3s ease-out, margin-top 0.3s ease-out;
	}
}

.shadow3 {
	box-shadow: 0 160px 210px 0 rgba(0, 0, 0, .5);
}

#about {
	left : 0;
}

#contact {
	left : 100%;
}

#presentation {
	float:left;
	width:425px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size:14px;
	line-height:20px;
	letter-spacing:1px;
	a {
	  color: #007ac2;
		text-decoration: underline;
	}
}

#services {
	float:left;
	width:215px;
	margin-left:80px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size:14px;
	line-height:20px;
	letter-spacing:1px;
	ul {
		padding: 0;
		li {
			margin: 5px;
		}
	}
}


#awards {
	float:left;
	width:180px;
	margin-left:20px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size:14px;
	line-height:20px;
	letter-spacing:1px;
	small {
		top: -15px;
		position: relative;
	}
}


span.awardname {
	font-size:12px;
	color:#777;
	letter-spacing:0;
}

#contactleft, #contactright {
	float:left;
	width:315px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#777;
	font-size:14px;
	line-height:20px;
	letter-spacing:1px;
}

#contactright {
	margin-left:50px;
	width:615px;
	textarea {
		width:573px;
		height:214px;
	}
	legend {
		margin-top:89px;
	}
}

#contactleft input {
	width:273px;
}


input, textarea {
	border:1px solid #aaa;
	padding:15px 20px;
	margin-top:10px;
	margin-bottom:25px;
	background:#fff;
	color:#666;
}

textarea {
	resize: none;
}


input.envoyer {
	background:#fff;
	border:1px solid #aaa;
	font-family:'Roboto', Arial, sans-serif;
	color:#444;
	text-transform:uppercase;
	width:180px;
	cursor:pointer;
	font-weight:bold;
	border-radius: 0;
	margin: -10px 0 0 0;
	float: right;
	&:hover {
		border:1px solid #007ac2;
		color: #007ac2;
	}
}


.envoimess {
	position:absolute;
	top:54px;
	width:400px;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	text-align:right;
	color:#aaa;
	font-size:12px;
	line-height:20px;
}


/********************************** FOOTER **********************************/

footer {
	position: fixed;
	width:100%;
	height:90px;
	background:#333;
	border-top: 2px solid #242424;
	z-index: 12;
	bottom: 0;
	.center {
		height:90px;
		width:1000px;
		font-family:'Roboto', Arial, sans-serif;
		font-weight:normal;
		-webkit-font-smoothing:antialiased;
		font-size:14px;
		line-height:20px;
		letter-spacing:1px;
		text-transform:uppercase;
	}
}

.ligne {
	width:100%;
	height:1px;
	background:#242424;
}

.caseB {
	display:block;
	width:115px;
	height:90px;
	float:left;
	border-left:1px solid #242424;
	overflow:hidden;
	position:relative;
	text-align:center;
	line-height:90px;
	cursor:pointer;
	span {
		position:relative;
		z-index:3;
		color:#aaa;
	}
	&:hover {
		span {
			color: #fff;
		}
	}
}

#contactCanada .texte {
	position:absolute;
	z-index:3;
	color:#FFF;
	margin-left:80px;
	margin-top:25px;
}


#contactCanada .fond, .caseB .fond {
	height:90px;
	position:absolute;
	z-index:1;
	top:90px;
	background:#093;
  transition: all 0.1s ease-out;
}

#contactCanada:hover .fond, .caseB:hover .fond {
	top:0;
}

#contactCanada .fond {
	width:652px;
}

.caseB .fond {
	width:115px;
}

#contactCanada img {
	position:absolute;
	z-index:3;
	left:30px;
}

.fond {
	&.twitter {
		background:#00aced;
	}
	.behance {
		background:#0364fa;
	}
	&.linkedin {
		background:#3893c4;
	}
	&.cv {
		background:#444;
	}

	&.blog {
		background:#000;
	}
}

.copyright {
	font-family:'Roboto', Arial, sans-serif;
	text-align:center;
	font-size:14px;
	color:#aaa;
	margin-top:35px;
}

.resume {
	display: inline;
	float: right;
	color: #007ac2;
	margin: -40px 30px 0 0;
}

.popup-text {
  padding: 10px 20px;
  position: absolute;
  top: -42px;
  background: #323232;
  color: #fff;
}

.MsgSent {
	width: 980px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
}



/////////// Media Queries
@media (min-width: 1110px) and (max-width: 1477px) {
	.block {
		width: 33.3%;
	}
  }

@media (min-width: 738px) and (max-width: 1109px) {
	.block {
		width: 50%;
	}
  }

@media (min-width: 0px) and (max-width: 738px) {
	.block {
		width: 100%;
	}
  }

  ////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////

@media (max-width: 1109px) {
	nav .wrapper {
		width: 100%;
		#logo {
			margin-left: 15px;
		}
		ul {
			margin-right: 10px;
		}
	}
	#presentation {
		margin-left: 50px;
	}
	#project-menu .center, #projet .capture, .center {
		width: 100%;
	}
	.capture img {
		width: 98%;
	}
	.icon {
		display:none;
	}
	.back {
		width: 100%;
		margin: 0 auto;
		height: 70px;
		padding: 0;
		img {
			display: none;
		}
	}
	.back div {
		margin: 30px auto 0 auto;
		width: 50px;
		float: none;
		font-weight: 800;
		font-size: 16px;
	}
	#contactleft { 
		width: 280px;
		margin-left: 50px;
		input {
			width: 80%;
		}
	}
	#contactright  {
		margin-left: 20px;
		width: 50%;
		textarea {
			width: 90%;
		}
	}
	.MsgSent {
		width: 100%;
		text-align: left;
	}
  }

@media (max-width: 991px) {
	#services {
		display: none;
	}
	#awards {
		margin-left: 50px;
	}
}

@media (max-width: 738px) {
	 #awards {
		display: none;
	}
	#presentation {
		width: 85%;
	}

	#contactleft {
		width: 80%;
		margin-left: 20px;
		input {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h3 {
			margin-top: 20px;
		}
	}

	#contactright {
		width: 90%;
		legend {
			margin-top: 0;
		}
		textarea {
			height: 50px;
		}
	}

	input.envoyer {
		float: left;
		margin-top: -10px;
	}
	.affiche img {
		width: 100%;
	}
	#projet p {
		width: 90%;
	}
	footer {
		display: none;
	}
}

@media (max-width: 520px) {
	#logo {
		display: none;
	}
}