#blocks-container {
	width: 100%;
	background: $white;
	margin-top: 280px;
	position: absolute;
	z-index: 11;
	margin-bottom: 93px;
	transition: all .8s ease-out;
}

.block {
	float: left;
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 25%;
	margin: 0px;
	height: 380px;
	cursor: pointer;
	color: #777;
	position: relative;
	.content {
		display:block;
		width:100%;
		top:0;
		font-size:14px;
		font-family:'Roboto', Arial, sans-serif;
		-webkit-font-smoothing:antialiased;
		color:#999;
		text-align:center;
		.img-container{
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: auto;
			overflow: hidden;
			img {
				width: 100%;
				top: 0;
				left: 0;
			}
		}
	}
	.circle {
		display:block;
		position:absolute;
		z-index:4;
		width:74px;
		height:74px;
		top:-24px;
		left:50%;
		margin-left:-37px;
		border-radius: 50%;
		background:url(../images/arrow.png) no-repeat 34px center;
		border:3px solid $white;
		opacity:0;
    transition: all 0.3s ease-out;
	}
	h2 {
		display:block;
		margin:320px auto 5px auto;
		letter-spacing:1px;
		font-size:24px;
		color:$white;
		font-weight:normal;
		text-transform:uppercase;
		position:relative;
		z-index:4;
		opacity: 0;
	  transition: all 0.3s ease-out;
	}
	.role {
		display:block;
		position:relative;
		z-index:4;
		font-family:'Roboto', Arial, sans-serif;
		color:#eee;
		opacity: 0;
	}
	.fond {
		width:100%;
		height:380px;
		top:370px;
		position:absolute;
		transition: all 0.3s ease-out;
	}
	&:hover {
		.circle {
			top:90px;
			opacity:1;
		}
		h2 {
			margin-top:200px;
			opacity: 1;
		}
		.role {
			opacity: 1;
		}
		.fond {
			top: 0px;
		}
	}
}

.project-title {
	height: 95px;
	position: relative;
	z-index: 1;
}

.block.actif .role, .block.actif h2, .block.actif .circle {
	display:none;
}

.block1 .fond, .icon1 .fond { background:#323232; }
.block2 .fond, .icon2 .fond { background:#e00000; }
.block3 .fond, .icon3 .fond { background:#1a1a1a; }
.block4 .fond, .icon4 .fond { background:#005e82; }
.block5 .fond, .icon5 .fond { background:#359600; }
.block6 .fond, .icon6 .fond { background:#343434; }
.block7 .fond, .icon7 .fond { background:#00598c; }
.block8 .fond, .icon8 .fond { background:#db3300; }
.block9 .fond, .icon9 .fond { background:#f3b20a; }
.block10 .fond, .icon10 .fond { background:#4d5a6a; }
.block11 .fond, .icon11 .fond { background:#404040; }
.block12 .fond, .icon12 .fond { background:#2d5c80; }