.wrapper {
	@include break(1109px) {
		width: 100%;
	}
	width: 960px;
	margin: 0 auto;
}

#header {
	top:0;
	display:block;
	width: 100%;
	height:50px;
	z-index:100;
	position:fixed;
	// border-top: $border-light;
	//border-bottom: $border-light;
	background: $white;
	transition: top .5s ease-out;
}


#logo {
	@include break(1109px) {
		margin-left: 15px;
	}
	@include break(530px) {
		display: none;
	}
	float: left;
	cursor: pointer;
	color: $dark-gray;
	h1 {
		margin: 0;
		padding: 10px 0 0 0;
		margin-top: 0px;
		width:140px;
		float:left;
		font-size: 1.7rem;
	}
	img {
		margin-top: 5px;
		float:right;
	}
}

nav {
	@include break(1109px) {
		margin-right: 10px;
	}
	ul {
		padding: 0;
		float: right;
		li {
			display: inline;
			img {
				width: 12px;
				height: 12px;
				position: relative;
				top: -7px;
				left: -11px;
			}
		}
	}
	a {
		color: $dark-gray;
		padding: 5px 20px;
		font-size: 1.13rem;
		border: 1px solid transparent;
		&:hover {
			color: $color-main;
		}
	}
	.current {
		@include rounded(100px);
		color: $color-main;
		border-color: $color-main;
		border-bottom: 1px solid $color-main !important;
		&:hover {
			background-color: lighten($color-main, 60%)
		}
		&:active {
			background-color: lighten($color-main, 55%)
		}
	}
	@include break(738px) {
		a {
			font-size: 1.3rem;
		}
	}
	@include break(530px) {
		a {
			font-size: 1.6rem;
			padding: 5px 15px;
		}
	}
}

#intro-container {
	width: 100%;
	height: 280px;
	background: $white;
	position:fixed;
	top:0;
	z-index:10;
	text-align: center;
  transition: top 0.3s ease-out;
}

#intro {
	position:absolute;
	top:40px;
	z-index:2;
	margin:80px 0 50px 0;
	font-size:2.14rem;
	line-height:40px;
	letter-spacing:1px;
	width: inherit;
	span {
		color: $dark-gray;
		font-weight: 100;
		font-size: 3.3rem;
		line-height: 55px;
		letter-spacing: -0.2px;
	}
	.position-title {
		font-size: 1.7rem;
		letter-spacing: 0;
	}
}