@mixin break($args...) {
    @if length($args) == 1 {
      @media (max-width: nth($args, 1)) {
        @content;
      }
    } @else {
      @media (min-width: nth($args, 1))
        and (max-width: nth($args, 2)) {
        @content;
      }
    }
  }

  @mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }


body {
	font-family: $robo;
	margin:0;
	overflow-x:hidden;
}


  .wrapper {
	@include break(1109px) {
		width: 100%;
	}
	width: 960px;
	margin: 0 auto;
}

#header {
	top:0;
	height: 50px;
	display:block;
	width: 100%;
	z-index:100;
	position:fixed;
	background: #fff;
	transition: top .5s ease-out;
}


#logo {
  padding: 0;
	@include break(1109px) {
		margin-left: 15px;
	}
	@include break(530px) {
		display: none;
	}
	float: left;
	cursor: pointer;
	color: #222;
	h1 {
		margin: 0;
		padding: 10px 0 0 0;
		margin-top: 0px;
		width:140px;
		float:left;
		font-size: 23.8px;
	}
	img {
		margin-top: 5px;
		float:right;
	}
}

nav {
	@include break(1109px) {
		margin-right: 10px;
	}
	ul {
		padding: 0;
		float: right;
		margin-top: 14px;
		li {
			display: inline;
			img {
				width: 12px;
				height: 12px;
				position: relative;
				top: -7px;
				left: -11px;
			}
		}
	}
	a {
		color: #222;
		padding: 5px 20px 5px 19.5px;
		font-size: 15.82px;
		border: 1px solid transparent;
    	text-decoration: none;
		&:hover {
			color: #007ac2;
		}
	}
	.current {
		border-radius: 100px;
		color: #007ac2;
		border-color: #007ac2;
		border-bottom: 1px solid #007ac2 !important;
		&:hover {
			background-color: lighten(#007ac2, 60%)
		}
		&:active {
			background-color: lighten(#007ac2, 55%)
		}
	}
	@include break(738px) {
		a {
			font-size: 1.3rem;
		}
	}
	@include break(530px) {
		a {
			font-size: 1.6rem;
			padding: 5px 15px;
		}
	}
}

#intro-container {
	width: 100%;
	height: 280px;
	background: #fff;
	position:fixed;
	top:0;
	z-index:10;
	text-align: center;
  transition: top 0.3s ease-out;
}

#intro {
	position:absolute;
	top:40px;
	z-index:2;
	margin:80px 0 50px 0;
	font-size:2.14rem;
	line-height:40px;
	letter-spacing:1px;
	width: inherit;
	span {
		color: #222;
		font-weight: 100;
		font-size: 3.3rem;
		line-height: 55px;
		letter-spacing: -0.2px;
	}
	.position-title {
		font-size: 1.7rem;
		letter-spacing: 0;
	}
}















// About and contact

#about, #contact {
	overflow: scroll;
	position:fixed;
	width:100%;
	height:550px;
	margin-top:-550px;
	background: #fff;
	z-index:15;
	transition: left 0s ease-out, margin-top .5s ease-out;
	&.debut {
		margin-top:-470px;
		transition: left 0s ease-out, margin-top 0s ease-out;
	}
	&.visible {
		transition: left 0.3s ease-out, margin-top 0.3s ease-out;
	}
	h3 {
		color: #222;
		font-size: 2rem;
		margin: 50px 0 20px 0;
		letter-spacing: 1px;
		font-weight: normal;
	}
	p {
		line-height: 1.5rem;
		letter-spacing: 0.6px
	}
	a {
		color: #007ac2;
		font-size: 1rem;
		text-decoration: none;
		border-bottom: blue;
	}
}

#about {
	left : 0;
}

#contact {
	left : 100%;
}

#aboutMe {
	@include break(1109px) {
		margin-left: 50px;
	}
	@include break(738px) {
		width: 85%;
	}
	float:left;
	width:425px;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size: 1rem;
	line-height:20px;
	letter-spacing:1px;
}

#services {
	@include break(991px) {
		display: none;
	}
	float:left;
	width:215px;
	margin-left:80px;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size: 1rem;
	line-height:20px;
	letter-spacing:1px;
	ul {
		padding: 0;
		li {
			margin: 5px;
		}
	}
}


#experience {
	@include break(991px) {
		margin-left: 50px;
	}
	@include break(738px) {
		display: none;
	}
	float:left;
	width:180px;
	margin-left:20px;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#666;
	font-size: 1rem;
	line-height:20px;
	letter-spacing:1px;
	small {
		top: -15px;
		position: relative;
	}
}


span.job-title {
	font-size:.9rem;
	color:#444;
	letter-spacing:0;
}

#contactleft, #contactright {
	float:left;
	width:315px;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	color:#777;
	font-size: 1rem;
	line-height:20px;
	letter-spacing:1px;
}

#contactleft {
	@include break(1109px) {
		width: 280px;
		margin-left: 50px;
	}
	@include break(738px) {
		width: 80%;
		margin-left: 20px;
	}
	input {
		@include break(1109px) {
			width: 80%;
		}
		@include break(738px) {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		width: 273px;
	}
	h3 {
		@include break(738px) {
			margin-top: 20px;
		}
	}
}

#contactright {
	@include break(1109px) {
		margin-left: 20px;
		width: 50%;
	}
	@include break(738px) {
		width: 90%;
	}
	margin-left:50px;
	width:615px;
	textarea {
		@include break(1109px) {
			width: 90%;
		}
		@include break(738px) {
			height: 50px;
		}
		width:573px;
		height:214px;
	}
	legend {
		@include break(738px) {
			margin-top: 0;
		}
		margin-top:89px;
	}
}

input, textarea {
	border: red;
	padding:15px 20px;
	margin-top:10px;
	margin-bottom:25px;
	background:#fff;
	color:#666;
}

textarea {
	resize: none;
}


input.envoyer {
	@include break(738px) {
		float: left;
		margin-top: -10px;
	}
	background:#fff;
	border:1px solid #aaa;
	color:#444;
	text-transform:uppercase;
	width:180px;
	cursor:pointer;
	font-weight:bold;
	border-radius: 0;
	margin: -10px 0 0 0;
	float: right;
	&:hover {
		border: blue;
		color: #007ac2;
	}
}

